Repository baba-dev/M5Tab5-UserDemo, changes with the labels that .github/labeler.yml gives for each.
All labels: ui, integration, platform, assets, docs, ci

build(tab5): declare component dependencies
  platforms/tab5/main/CMakeLists.txt
Labels: none

fix(ui): update cctv page events
  custom/ui/pages/ui_page_cctv.c
Labels: ui

fix(integration): cast rounded value for snprintf
  custom/integration/weather_formatter.cpp
Labels: integration

fix(tab5): set extra components before project include
  platforms/tab5/CMakeLists.txt
Labels: none

fix(tab5): resolve extra component dirs
  platforms/tab5/CMakeLists.txt
Labels: none

fix(hal): include algorithm for clamp
  platforms/desktop/hal/components/hal_audio.cpp
  platforms/desktop/hal/hal_desktop.cpp
  platforms/tab5/main/hal/components/hal_audio.cpp
  platforms/tab5/main/hal/components/hal_usb.cpp
  platforms/tab5/main/hal/hal_esp32.cpp
Labels: none

fix(hal): include freertos headers
  platforms/tab5/main/hal/components/hal_usb.cpp
Labels: none

fix(hal): add freertos and c headers for rs485 driver
  platforms/tab5/main/hal/components/hal_rs485.cpp
Labels: none

refactor(build): remove core component
  DOCS/REPO_MAP.md
  TRACEPOINTS.md
  components/CMakeLists.txt
  components/core/CMakeLists.txt
  components/core/include/ringbuf.h
  components/core/include/settings.h
  components/core/include/settings_impl.h
  components/core/src/ringbuf.cpp
  components/core/src/settings.cpp
  custom/app_trace.h
  custom/integration/cctv_controller.cpp
  custom/integration/media_controller.cpp
  custom/integration/settings_controller.cpp
  platforms/tab5/main/CMakeLists.txt
  tests/CMakeLists.txt
  tests/unit/test_ringbuf.cpp
  tests/unit/test_settings.cpp
Labels: integration

fix(hal): tune gpio drive strengths
  platforms/tab5/main/hal/hal_esp32.cpp
Labels: none

fix(hal): zero-init record buffers
  platforms/tab5/main/hal/components/hal_audio.cpp
Labels: none

fix(tab5): declare local components for build
  platforms/tab5/main/idf_component.yml
Labels: none

fix(components): use esp-tls requires name
  components/connection_tester/CMakeLists.txt
  components/ota_update/CMakeLists.txt
Labels: none

build(tab5): refresh local component manifests
  components/backup_server/idf_component.yml
  components/connection_tester/CMakeLists.txt
  components/connection_tester/idf_component.yml
  components/diag/idf_component.yml
  components/net_sntp/idf_component.yml
  components/ota_update/CMakeLists.txt
  components/ota_update/idf_component.yml
  components/settings_core/idf_component.yml
  components/settings_ui/idf_component.yml
  platforms/tab5/dependencies.lock
  platforms/tab5/main/idf_component.yml
Labels: none

fix(tab5): add hal esp-idf dependencies
  platforms/tab5/main/CMakeLists.txt
Labels: none

fix(tab5): include sys time header
  platforms/tab5/main/hal/hal_esp32.cpp
Labels: none

fix(settings_core): include nvs header
  components/settings_core/src/app_cfg.c
Labels: none

fix(settings_core): add string terminator slack
  components/settings_core/include/settings_core/app_cfg.h
Labels: none

fix(platform): adapt sntp and diag to idf 5.5
  components/diag/src/diag.c
  components/net_sntp/src/net_sntp.c
Labels: none

fix(settings_ui): drop esp_timer_set_arg use
  components/settings_ui/src/settings_ui.c
Labels: none

fix(tab5): add missing app requires
  platforms/tab5/main/CMakeLists.txt
Labels: none

fix(assets): guard esp vfs fat include
  custom/assets/asset_mount.c
Labels: assets

fix(tab5): sanitize esp audio dependency
  platforms/tab5/main/CMakeLists.txt
Labels: none

build(tab5): add cjson dependency
  platforms/tab5/main/CMakeLists.txt
  platforms/tab5/main/idf_component.yml
Labels: none

fix(platform): namespace cjson dependency
  platforms/tab5/main/idf_component.yml
Labels: none

ci(workflows): pin esp-idf 5.4.2 for esp32p4
  .github/workflows/idf-build.yml
  .github/workflows/webflash.yml
Labels: ci

build(deps): align esp-idf constraint to 5.4
  components/backup_server/idf_component.yml
  components/connection_tester/idf_component.yml
  components/diag/idf_component.yml
  components/net_sntp/idf_component.yml
  components/ota_update/idf_component.yml
  components/settings_core/idf_component.yml
  components/settings_ui/idf_component.yml
  platforms/tab5/dependencies.lock
  platforms/tab5/main/idf_component.yml
Labels: none

chore(scripts): add golden update script
  scripts/update_goldens.sh
Labels: none

ci(github): streamline idf workflow
  .github/workflows/idf-build.yml
Labels: ci

chore(tab5): simplify cmake setup
  platforms/tab5/CMakeLists.txt
Labels: none

fix(platforms): depend on json component
  platforms/tab5/main/CMakeLists.txt
Labels: none

test(ui): support updating rooms golden
  tests/ui/test_rooms_page.py
Labels: none

ci(workflows): list golden assets
  .github/workflows/host-tests.yml
Labels: ci

docs(readme): refresh build guidance
  README.md
Labels: none

refactor(settings): swap worker to freertos
  custom/integration/settings_controller.cpp
Labels: integration

fix(build): use idf alias for esp-idf dependency
  components/backup_server/idf_component.yml
  components/connection_tester/idf_component.yml
  components/diag/idf_component.yml
  components/net_sntp/idf_component.yml
  components/ota_update/idf_component.yml
  components/settings_core/idf_component.yml
  components/settings_ui/idf_component.yml
  platforms/tab5/main/idf_component.yml
Labels: none

chore(tools): add esp-idf installer script
  tools/install_idf.sh
Labels: none

fix(tools): sync esp-idf submodules
  tools/install_idf.sh
Labels: none

chore(tab5): fix cjson dependency case
  platforms/tab5/main/idf_component.yml
Labels: none

fix(platforms): override settings core path
  platforms/tab5/main/idf_component.yml
Labels: none

.github/labeler.yml:

---
ui:
  - custom/ui/**

integration:
  - custom/integration/**

platform:
  - custom/platform/**

assets:
  - custom/assets/**

docs:
  - docs/**

ci:
  - .github/**
