Repository baba-dev/M5Tab5-UserDemo, changes with the labels that .github/labeler.yml gives for each.
All labels: ui, integration, platform, assets, docs, ci

.github/labeler.yml:

---
ui:
  - custom/ui/**

integration:
  - custom/integration/**

platform:
  - custom/platform/**

assets:
  - custom/assets/**

docs:
  - docs/**

ci:
  - .github/**

fix(ui): render white wallpaper without images
  app/apps/app_launcher/view/view.cpp
  app/apps/app_launcher/view/view.h
  custom/ui/ui_wallpaper.c
  custom/ui/ui_wallpaper.h
Labels: ui

fix(tab5): align hosted config for esp32c6
  platforms/tab5/main/hal/components/hal_camera.cpp
  platforms/tab5/sdkconfig
  platforms/tab5/sdkconfig.defaults
Labels: none

fix(lvgl): use libc allocator for ui heap
  lv_conf.h
  platforms/tab5/sdkconfig
  platforms/tab5/sdkconfig.defaults
Labels: none

Update assets.h
  app/assets/assets.h
Labels: none

Update ui_wallpaper.h
  custom/ui/ui_wallpaper.h
Labels: ui

Delete tests/ui/stubs/assets/launcher_bg_stub.c
  tests/ui/stubs/assets/launcher_bg_stub.c
Labels: none

Delete tests/ui/stubs/assets/assets.h
  tests/ui/stubs/assets/assets.h
Labels: none

chore(assets): remove wallpaper png lookups
  custom/assets/README.md
  custom/assets/asset_mount.c
  custom/assets/asset_mount.h
Labels: assets

Create SECURITY.md
  SECURITY.md
Labels: none

Delete .github/workflows/webflash.yml
  .github/workflows/webflash.yml
Labels: ci

Delete .github/workflows/idf-build.yml
  .github/workflows/idf-build.yml
Labels: ci

Create idf-build-and-webflash.yml
  .github/workflows/idf-build-and-webflash.yml
Labels: ci

Update idf-preflight.yml
  .github/workflows/idf-preflight.yml
Labels: ci

Delete .github/workflows/lint.yml
  .github/workflows/lint.yml
Labels: ci

Delete .github/workflows/lint-check.yml
  .github/workflows/lint-check.yml
Labels: ci

Delete .github/workflows/autofix-lint.yml
  .github/workflows/autofix-lint.yml
Labels: ci

Create lint.yml
  .github/workflows/lint.yml
Labels: ci

Update idf-build-and-webflash.yml
  .github/workflows/idf-build-and-webflash.yml
Labels: ci

Update host-tests.yml
  .github/workflows/host-tests.yml
Labels: ci

Update hil-boot-check.yml
  .github/workflows/hil-boot-check.yml
Labels: ci

Update idf-build-and-webflash.yml
  .github/workflows/idf-build-and-webflash.yml
Labels: ci

fix(wifi): stabilize hosted softap bringup
  platforms/tab5/main/hal/components/hal_wifi.cpp
Labels: none

fix(wifi): guard init in progress
  platforms/tab5/main/hal/components/hal_wifi.cpp
Labels: none

fix(tests): remove ui stub library
  tests/CMakeLists.txt
Labels: none

Update host-tests.yml
  .github/workflows/host-tests.yml
Labels: ci

refactor(tools): consolidate clang helpers
  Makefile
  README.md
  docs/DEV_SETUP.md
  scripts/format.sh
  tools/clang_tools.sh
  tools/lint_autofix.sh
  tools/run_clang_format.sh
  tools/run_clang_tidy.sh
Labels: docs

Update idf-build-and-webflash.yml
  .github/workflows/idf-build-and-webflash.yml
Labels: ci

Update idf-build-and-webflash.yml
  .github/workflows/idf-build-and-webflash.yml
Labels: ci

fix(tab5): allow preflight to use idf 5.4.2
  platforms/tab5/main/hal/components/hal_wifi.cpp
  platforms/tab5/managed_components/espressif__esp_wifi_remote/idf_v5.4.2/Kconfig.slave_select.in
  platforms/tab5/managed_components/espressif__esp_wifi_remote/idf_v5.4.2/Kconfig.soc_wifi_caps.in
  platforms/tab5/managed_components/espressif__esp_wifi_remote/idf_v5.4.2/Kconfig.wifi.in
  platforms/tab5/managed_components/espressif__esp_wifi_remote/idf_vv5.4.2/Kconfig.slave_select.in
  platforms/tab5/managed_components/espressif__esp_wifi_remote/idf_vv5.4.2/Kconfig.soc_wifi_caps.in
  platforms/tab5/managed_components/espressif__esp_wifi_remote/idf_vv5.4.2/Kconfig.wifi.in
  scripts/preflight.sh
Labels: none

fix(tab5): remove stale wifi remote override
  .gitignore
  platforms/tab5/managed_components/espressif__esp_wifi_remote/idf_v5.4.2/Kconfig.slave_select.in
  platforms/tab5/managed_components/espressif__esp_wifi_remote/idf_v5.4.2/Kconfig.soc_wifi_caps.in
  platforms/tab5/managed_components/espressif__esp_wifi_remote/idf_v5.4.2/Kconfig.wifi.in
  platforms/tab5/managed_components/espressif__esp_wifi_remote/idf_vv5.4.2/Kconfig.slave_select.in
  platforms/tab5/managed_components/espressif__esp_wifi_remote/idf_vv5.4.2/Kconfig.soc_wifi_caps.in
  platforms/tab5/managed_components/espressif__esp_wifi_remote/idf_vv5.4.2/Kconfig.wifi.in
Labels: none

fix(tab5): harden wifi init and enable 5v rails
  platforms/tab5/main/hal/components/hal_wifi.cpp
  platforms/tab5/main/hal/hal_esp32.cpp
Labels: none

Update idf-build-and-webflash.yml
  .github/workflows/idf-build-and-webflash.yml
Labels: ci

Create index.html
  platforms/tab5/site/index.html
Labels: none

Update idf-build-and-webflash.yml
  .github/workflows/idf-build-and-webflash.yml
Labels: ci

Update idf-build-and-webflash.yml
  .github/workflows/idf-build-and-webflash.yml
Labels: ci

fix(hosted): harden sdio bring-up
  custom/integration/wifi/hosted_safe.cpp
  custom/integration/wifi/hosted_safe.h
  platforms/tab5/main/hal/components/hal_wifi.cpp
  platforms/tab5/sdkconfig.defaults
Labels: integration

test(hil): note boot log monitoring
  custom/integration/wifi/hosted_safe.cpp
  custom/integration/wifi/hosted_safe.h
  custom/integration/wifi_remote/hosted_safe.c
  custom/integration/wifi_remote/hosted_safe.h
  platforms/tab5/Kconfig.projbuild
  platforms/tab5/main/hal/components/hal_wifi.cpp
  platforms/tab5/sdkconfig.defaults
  tests/hil/test_boot_no_loop.py
Labels: integration

fix(tab5): guard hosted wifi and add heap tracing
  custom/integration/wifi_remote/hosted_safe.c
  platforms/tab5/Kconfig.projbuild
  platforms/tab5/dependencies.lock
  platforms/tab5/main/Kconfig.projbuild
  platforms/tab5/main/app_main.cpp
  platforms/tab5/main/hal/components/hal_wifi.cpp
  platforms/tab5/main/idf_component.yml
  platforms/tab5/sdkconfig.defaults
Labels: integration

fix(platforms): guard optional wifi hosted deps
  components/net_sntp/src/net_sntp.c
  custom/integration/settings_controller.cpp
  platforms/tab5/dependencies.lock
  platforms/tab5/main/idf_component.yml
Labels: integration

fix(build): remove tab5 dependencies lock
  components/backup_server/idf_component.yml
  components/diag/idf_component.yml
  components/settings_ui/idf_component.yml
  platforms/tab5/.gitignore
  platforms/tab5/dependencies.lock
  platforms/tab5/main/idf_component.yml
Labels: none
