Repository baba-dev/M5Tab5-UserDemo, changes with the labels that .github/labeler.yml gives for each.
All labels: ui, integration, platform, assets, docs, ci

Update idf_component.yml
  components/backup_server/idf_component.yml
Labels: none

Update idf_component.yml
  components/diag/idf_component.yml
Labels: none

Update idf_component.yml
  components/settings_ui/idf_component.yml
Labels: none

Create DEV_SETUP.md
  DOCS/DEV_SETUP.md
Labels: none

Update CMakeLists.txt
  platforms/tab5/CMakeLists.txt
Labels: none

Update m5stack_tab5.c
  platforms/tab5/components/m5stack_tab5/m5stack_tab5.c
Labels: none

Create dependencies.lock
  platforms/tab5/dependencies.lock
Labels: none

Update CMakeLists.txt
  platforms/tab5/main/CMakeLists.txt
Labels: none

Update idf_component.yml
  platforms/tab5/main/idf_component.yml
Labels: none

Update sdkconfig
  platforms/tab5/sdkconfig
Labels: none

Update sdkconfig
  platforms/tab5/sdkconfig
Labels: none

fix(tooling): validate libusb dependency
  README.md
  tools/install_idf.sh
Labels: none

fix(tab5): auto-fetch managed dependencies
  platforms/tab5/CMakeLists.txt
Labels: none

build(tab5): refresh sdkconfig for esp32p4 build
  platforms/tab5/sdkconfig
Labels: none

Update idf-build.yml
  .github/workflows/idf-build.yml
Labels: ci

chore(tab5): refresh dependencies lock
  platforms/tab5/dependencies.lock
Labels: none

Update idf-build.yml
  .github/workflows/idf-build.yml
Labels: ci

Update idf-build.yml
  .github/workflows/idf-build.yml
Labels: ci

Update webflash.yml
  .github/workflows/webflash.yml
Labels: ci

Update idf-build.yml
  .github/workflows/idf-build.yml
Labels: ci

Update webflash.yml
  .github/workflows/webflash.yml
Labels: ci

Create test_boot_no_loop.py
  tests/hil/test_boot_no_loop.py
Labels: none

Create hil-boot-check.yml
  .github/workflows/hil-boot-check.yml
Labels: ci

fix(platform): set esp-hosted slave target
  platforms/tab5/sdkconfig
  platforms/tab5/sdkconfig.defaults
Labels: none

Update codeql.yml
  .github/workflows/codeql.yml
Labels: ci

build(tab5): raise lvgl heap budget
  platforms/tab5/sdkconfig
  platforms/tab5/sdkconfig.defaults
Labels: none

chore(tests): store golden snapshots as base64
  .gitattributes
  .github/workflows/autofix-lint.yml
  .github/workflows/clang-format-check.yml
  .github/workflows/codeql.yml
  .github/workflows/host-tests.yml
  .github/workflows/lint-check.yml
  .github/workflows/lint.yml
  tests/ui/golden/.gitignore
  tests/ui/golden/home_page.png
  tests/ui/golden/home_page.png.base64
  tests/ui/golden/rooms_three_cards.png
  tests/ui/golden/rooms_three_cards.png.base64
  tests/ui/test_rooms_page.py
  tests/ui/test_ui_snapshot.cpp
Labels: ci

perf(tab5): remove usb cursor images
  platforms/tab5/components/espressif__esp_lvgl_port/CMakeLists.txt
  platforms/tab5/components/espressif__esp_lvgl_port/images/img_cursor.png
  platforms/tab5/components/espressif__esp_lvgl_port/images/img_cursor_20px.png
  platforms/tab5/components/espressif__esp_lvgl_port/images/lvgl8/img_cursor.c
  platforms/tab5/components/espressif__esp_lvgl_port/images/lvgl9/img_cursor.c
  platforms/tab5/components/espressif__esp_lvgl_port/src/lvgl8/esp_lvgl_port_usbhid.c
  platforms/tab5/components/espressif__esp_lvgl_port/src/lvgl9/esp_lvgl_port_usbhid.c
Labels: none

build(tab5): configure 16mb factory layout
  .github/workflows/idf-build.yml
  platforms/tab5/CMakeLists.txt
  platforms/tab5/main/CMakeLists.txt
  platforms/tab5/partitions_no_ota_16mb.csv
  platforms/tab5/sdkconfig.defaults
Labels: ci

fix(tab5): select 16mb no-ota partition
  platforms/tab5/sdkconfig
Labels: none

refactor(tab5): remove imlib camera dependency
  platforms/tab5/components/imlib/CMakeLists.txt
  platforms/tab5/components/imlib/include/fmath.h
  platforms/tab5/components/imlib/include/font.h
  platforms/tab5/components/imlib/include/imlib.h
  platforms/tab5/components/imlib/include/utils.h
  platforms/tab5/components/imlib/src/draw.c
  platforms/tab5/components/imlib/src/fmath.c
  platforms/tab5/components/imlib/src/font.c
  platforms/tab5/components/imlib/src/imlib.c
  platforms/tab5/components/imlib/src/utils.c
  platforms/tab5/components/imlib/unicode_font16x16.bin
  platforms/tab5/main/CMakeLists.txt
  platforms/tab5/main/hal/components/frame_buffer.h
  platforms/tab5/main/hal/components/hal_camera.cpp
Labels: none

feat(audio): gate long demo track
  DOCS/DEV_SETUP.md
  platforms/tab5/main/CMakeLists.txt
  platforms/tab5/main/Kconfig.projbuild
  platforms/tab5/main/hal/components/hal_audio.cpp
  platforms/tab5/sdkconfig.defaults
Labels: none

chore(platform): remove esp32-c6 remote firmware
  DOCS/DEV_SETUP.md
  README.md
  docs/DEV_SETUP.md
  platforms/tab5/wifi_c6_fw/ESP32C6-WiFi-SDIO-Interface-V1.4.1-96bea3a_0x0.bin
  platforms/tab5/wifi_c6_fw/flash.sh
Labels: docs

fix(camera): flip sensor stream via v4l2
  platforms/tab5/main/hal/components/hal_camera.cpp
Labels: none

perf(camera): cache canvas buffer binding
  platforms/tab5/main/hal/components/hal_camera.cpp
Labels: none

fix(camera): include mutex header
  platforms/tab5/main/hal/components/hal_camera.cpp
Labels: none

fix(camera): drop unused imlib include
  platforms/tab5/main/hal/components/hal_camera.cpp
Labels: none

fix(hal): add v4l2 control helper
  platforms/tab5/main/hal/components/hal_camera.cpp
Labels: none

fix(camera): free img_show_data pointer
  platforms/tab5/main/hal/components/hal_camera.cpp
Labels: none

ci(preflight): add enforced build pipeline
  .github/workflows/idf-preflight.yml
  AGENTS.md
  ai/tasks/00_preflight_build_and_bootloop_guard.md
  docs/AI_GUIDELINES.md
  scripts/bootloop_guard.py
  scripts/preflight.sh
Labels: docs, ci

.github/labeler.yml:

---
ui:
  - custom/ui/**

integration:
  - custom/integration/**

platform:
  - custom/platform/**

assets:
  - custom/assets/**

docs:
  - docs/**

ci:
  - .github/**
