Repository baba-dev/M5Tab5-UserDemo, changes with the labels that .github/labeler.yml gives for each.
All labels: ui, integration, platform, assets, docs, ci

fix(tab5): clean wifi remote dependencies
  .github/workflows/idf-build-and-webflash.yml
  platforms/tab5/main/Kconfig.projbuild
  platforms/tab5/main/idf_component.yml
Labels: ci

chore(ui): remove M5 default demo page
  README.md
  app/apps/app_launcher/app_launcher.cpp
  app/apps/app_launcher/view/panel_camera.cpp
  app/apps/app_launcher/view/panel_com_monitor.cpp
  app/apps/app_launcher/view/panel_dual_mic.cpp
  app/apps/app_launcher/view/panel_gpio.cpp
  app/apps/app_launcher/view/panel_headphone.cpp
  app/apps/app_launcher/view/panel_i2c_scan.cpp
  app/apps/app_launcher/view/panel_imu.cpp
  app/apps/app_launcher/view/panel_lcd_backlight.cpp
  app/apps/app_launcher/view/panel_music.cpp
  app/apps/app_launcher/view/panel_power.cpp
  app/apps/app_launcher/view/panel_power_monitor.cpp
  app/apps/app_launcher/view/panel_rtc.cpp
  app/apps/app_launcher/view/panel_sd_card.cpp
  app/apps/app_launcher/view/panel_spk_volume.cpp
  app/apps/app_launcher/view/panel_switches.cpp
  app/apps/app_launcher/view/view.cpp
  app/apps/app_launcher/view/view.h
  app/assets/assets.h
  app/assets/images/arrow_state_on.c
  app/assets/images/chg_arrow_down.c
  app/assets/images/chg_arrow_up.c
  app/assets/images/internal_i2c_dev_chart.c
  app/assets/images/porta_i2c_dev_chart.c
  app/assets/images/porta_i2c_ext5v_on.c
  app/assets/images/sw_chg_off.c
  app/assets/images/sw_chg_on.c
  app/assets/images/sw_off.c
  app/assets/images/sw_on.c
  app/assets/images/sw_qc_off.c
  app/assets/images/sw_qc_on.c
  app/assets/images/sw_rf_h.c
  app/assets/images/sw_rf_l.c
  custom/ui/ui_nav_rail.c
  custom/ui/ui_nav_rail.h
  custom/ui/ui_root.c
  docs/wireframes.md
  platforms/tab5/main/hal/hal_esp32.cpp
Labels: ui, docs

fix(ui): restore launcher view build deps
  README.md
  app/apps/app_launcher/app_launcher.cpp
  app/apps/app_launcher/view/panel_camera.cpp
  app/apps/app_launcher/view/panel_com_monitor.cpp
  app/apps/app_launcher/view/panel_dual_mic.cpp
  app/apps/app_launcher/view/panel_gpio.cpp
  app/apps/app_launcher/view/panel_headphone.cpp
  app/apps/app_launcher/view/panel_i2c_scan.cpp
  app/apps/app_launcher/view/panel_imu.cpp
  app/apps/app_launcher/view/panel_lcd_backlight.cpp
  app/apps/app_launcher/view/panel_music.cpp
  app/apps/app_launcher/view/panel_power.cpp
  app/apps/app_launcher/view/panel_power_monitor.cpp
  app/apps/app_launcher/view/panel_rtc.cpp
  app/apps/app_launcher/view/panel_sd_card.cpp
  app/apps/app_launcher/view/panel_spk_volume.cpp
  app/apps/app_launcher/view/panel_switches.cpp
  app/apps/app_launcher/view/view.cpp
  app/apps/app_launcher/view/view.h
  app/assets/assets.h
  app/assets/images/arrow_state_on.c
  app/assets/images/chg_arrow_down.c
  app/assets/images/chg_arrow_up.c
  app/assets/images/internal_i2c_dev_chart.c
  app/assets/images/porta_i2c_dev_chart.c
  app/assets/images/porta_i2c_ext5v_on.c
  app/assets/images/sw_chg_off.c
  app/assets/images/sw_chg_on.c
  app/assets/images/sw_off.c
  app/assets/images/sw_on.c
  app/assets/images/sw_qc_off.c
  app/assets/images/sw_qc_on.c
  app/assets/images/sw_rf_h.c
  app/assets/images/sw_rf_l.c
  custom/ui/ui_nav_rail.c
  custom/ui/ui_nav_rail.h
  custom/ui/ui_root.c
  docs/wireframes.md
  platforms/tab5/main/hal/hal_esp32.cpp
Labels: ui, docs

fix(app): include controllers in launcher view
  app/apps/app_launcher/view/view.cpp
  app/apps/app_launcher/view/view.h
Labels: none

feat(ui): add static Home/Rooms wireframe with reserved nav rail
  app/apps/app_launcher/app_launcher.cpp
  app/ui_home.c
  app/ui_home.h
Labels: none

fix(app_launcher): use launcher view abstraction
  app/apps/app_launcher/app_launcher.cpp
  app/apps/app_launcher/view/view.cpp
Labels: none

fix(platform): restore touch input driver
  platforms/tab5/main/hal/hal_esp32.cpp
Labels: none

fix(touch): rotate gt911 points with display
  platforms/tab5/components/m5stack_tab5/m5stack_tab5.c
  platforms/tab5/main/hal/hal_esp32.cpp
Labels: none

fix(tab5): silence touch rotation build warnings
  platforms/tab5/components/m5stack_tab5/m5stack_tab5.c
  platforms/tab5/main/hal/hal_esp32.cpp
Labels: none

fix(tab5): guard lvgl usage and enable diagnostics
  custom/integration/settings_controller.cpp
  lv_conf.h
  platforms/tab5/components/m5stack_tab5/m5stack_tab5.c
  platforms/tab5/main/hal/hal_esp32.cpp
Labels: integration

fix(ui): run launcher setup on lvgl task
  app/apps/app_launcher/view/view.cpp
  app/apps/app_launcher/view/view.h
  components/settings_ui/CMakeLists.txt
  components/settings_ui/include/settings_ui/settings_ui.h
  components/settings_ui/src/settings_ui.c
  custom/integration/settings_controller.cpp
  platforms/tab5/sdkconfig.defaults
Labels: integration

.github/labeler.yml:

---
ui:
  - custom/ui/**

integration:
  - custom/integration/**

platform:
  - custom/platform/**

assets:
  - custom/assets/**

docs:
  - docs/**

ci:
  - .github/**
