Repository baba-dev/M5Tab5-UserDemo, changes with the labels that .github/labeler.yml gives for each.
All labels: ui, integration, platform, assets, docs, ci

ci(workflows): add clang-format lint check
  .github/workflows/lint-check.yml
Labels: ci

chore(pre-commit): configure clang-format hook
  .pre-commit-config.yaml
  README.md
Labels: none

ci: add autofix lint workflow
  .github/workflows/autofix-lint.yml
Labels: ci

feat(ui): add rooms page grid and tests
  .gitignore
  custom/ui/pages/ui_page_rooms.c
  custom/ui/pages/ui_page_rooms.h
  custom/ui/pages/ui_rooms_model.c
  custom/ui/pages/ui_rooms_model.h
  custom/ui/ui_theme.c
  custom/ui/ui_theme.h
  custom/ui/widgets/ui_room_card.c
  custom/ui/widgets/ui_room_card.h
  docs/REPO_MAP.md
  lv_conf.h
  platforms/desktop/CMakeLists.txt
  tests/ui/golden/rooms_three_cards.png
  tests/ui/rooms_page_snapshot.c
  tests/ui/rooms_page_test.c
  tests/ui/test_rooms_page.py
Labels: ui, docs

ci(host-tests): add fast rooms snapshot workflow
  .github/workflows/host-tests.yml
  CMakePresets.json
  tests/CMakeLists.txt
  tests/lv_conf.h
  tests/lv_conf_host.h
  tests/ui/test_rooms_snapshot.cpp
Labels: ci

fix(desktop): guard SDL helpers when disabled
  platforms/desktop/hal/components/hal_lvgl.cpp
Labels: none

chore(repo): scaffold dev env and tests
  .devcontainer/devcontainer.json
  .env.example
  .github/CODEOWNERS
  .github/workflows/codeql.yml
  .github/workflows/host-tests.yml
  CONTRIBUTING.md
  DOCS/FLASH_LAYOUT.md
  DOCS/REPO_MAP.md
  Makefile
  TRACEPOINTS.md
  ai/tasks/TASK_TEMPLATE.md
  components/core/include/app_trace.h
  components/core/include/ringbuf.h
  components/core/include/settings.h
  components/core/include/settings_impl.h
  components/core/src/ringbuf.cpp
  components/core/src/settings.cpp
  custom/assets/README.md
  custom/assets/bg/.gitkeep
  lv_conf.h
  platforms/tab5/main/Kconfig.projbuild
  renovate.json
  requirements.txt
  tests/CMakeLists.txt
  tests/ui/CMakeLists.txt
  tests/ui/golden/home_page.png
  tests/ui/test_ui_snapshot.cpp
  tests/ui/third_party/lodepng.cpp
  tests/ui/third_party/lodepng.h
  tests/unit/test_ringbuf.cpp
  tests/unit/test_settings.cpp
  tools/check_secrets.sh
  tools/gen_assets.py
  tools/run_clang_format.sh
  tools/run_clang_tidy.sh
Labels: assets, ci

fix(ui): store rooms content obj
  custom/ui/pages/ui_page_rooms.c
Labels: ui

chore(fetch): refresh dependencies in place
  README.md
  docs/DEV_SETUP.md
  fetch_repos.py
Labels: docs

fix(scripts): handle findings outside root
  scripts/check_legacy_i2c.py
  tests/test_check_legacy_i2c.py
Labels: none

feat(ui): rebuild cctv page layout
  custom/ui/pages/ui_page_cctv.c
Labels: ui

feat(ui): refresh weather layout
  custom/ui/pages/ui_page_weather.c
Labels: ui

feat(ui): add media playback layout
  custom/ui/pages/ui_page_media.c
Labels: ui

feat(ui): add settings management page
  custom/ui/pages/ui_page_settings.c
  custom/ui/pages/ui_page_settings.h
  custom/ui/ui_nav_rail.c
  custom/ui/ui_nav_rail.h
  custom/ui/ui_root.c
Labels: ui

fix(ui): use valid cctv card icon
  custom/ui/pages/ui_page_cctv.c
Labels: ui

fix(ui): replace lv array size macro in loops
  custom/ui/pages/ui_page_cctv.c
  custom/ui/pages/ui_page_media.c
Labels: ui

feat(settings): add config services and tests
  CMakeLists.txt
  components/CMakeLists.txt
  components/backup_server/CMakeLists.txt
  components/backup_server/include/backup_server/backup_format.h
  components/backup_server/include/backup_server/backup_server.h
  components/backup_server/src/backup_format.c
  components/backup_server/src/backup_server.c
  components/connection_tester/CMakeLists.txt
  components/connection_tester/include/connection_tester/connection_tester.h
  components/connection_tester/src/connection_tester.c
  components/diag/CMakeLists.txt
  components/diag/include/diag/diag.h
  components/diag/src/diag.c
  components/net_sntp/CMakeLists.txt
  components/net_sntp/include/net_sntp/net_sntp.h
  components/net_sntp/src/net_sntp.c
  components/ota_update/CMakeLists.txt
  components/ota_update/include/ota_update/ota_update.h
  components/ota_update/src/ota_update.c
  components/settings_core/CMakeLists.txt
  components/settings_core/include/settings_core/app_cfg.h
  components/settings_core/src/app_cfg.c
  components/settings_core/src/app_cfg_nvs.c
  components/settings_ui/CMakeLists.txt
  components/settings_ui/include/settings_ui/settings_ui.h
  components/settings_ui/src/settings_ui.c
  platforms/tab5/CMakeLists.txt
  tests/CMakeLists.txt
  tests/unit/stubs/esp_err.h
  tests/unit/test_app_cfg.cpp
Labels: none

fix(settings_ui): refresh dim timer argument
  components/settings_ui/src/settings_ui.c
Labels: none

fix(ui): cache theme option count
  custom/ui/pages/ui_page_settings.c
Labels: ui

feat(settings): add threaded controller
  app/apps/app_launcher/view/view.cpp
  app/apps/app_launcher/view/view.h
  custom/integration/settings_controller.cpp
  custom/integration/settings_controller.h
Labels: integration

feat(ui): render wallpaper with launcher asset
  custom/ui/ui_wallpaper.c
  custom/ui/ui_wallpaper.h
Labels: ui

fix(app): include settings controller header
  app/apps/app_launcher/view/view.h
Labels: none

fix(build): normalize settings includes
  app/apps/app_launcher/view/view.cpp
  app/apps/app_launcher/view/view.h
  custom/integration/settings_controller.cpp
Labels: integration

fix(ui): include wallpaper assets from assets dir
  custom/ui/ui_wallpaper.c
Labels: ui

docs(wireframes): sync layouts with lvgl implementation
  docs/wireframes.md
Labels: docs

docs(ai): align codex guide with live pages
  docs/AI_Codex_Guide.md
Labels: docs

docs(tasks): realign roadmap with current pages
  docs/TASKS.md
Labels: docs

docs(docs): sync entity catalog with ui
  docs/entities.json
Labels: docs

fix(app_launcher): include settings controller
  app/apps/app_launcher/view/view.h
Labels: none

feat(rooms): add integration rooms provider
  custom/integration/rooms_provider.c
  custom/integration/rooms_provider.h
  custom/ui/pages/ui_page_rooms.c
  platforms/desktop/CMakeLists.txt
  tests/CMakeLists.txt
  tests/ui/rooms_page_snapshot.c
  tests/ui/rooms_page_test.c
Labels: ui, integration

feat(cctv): add model and frigate glue
  app/apps/app_launcher/view/view.cpp
  app/apps/app_launcher/view/view.h
  custom/integration/cctv_controller.cpp
  custom/integration/cctv_controller.h
  custom/ui/pages/ui_page_cctv.c
  custom/ui/pages/ui_page_cctv.h
Labels: ui, integration

feat(integration): add weather formatter
  custom/integration/weather_formatter.cpp
  custom/integration/weather_formatter.h
  custom/ui/pages/ui_page_weather.c
  tests/CMakeLists.txt
  tests/unit/test_weather_formatter.cpp
Labels: ui, integration

feat(settings): surface live action status
  components/diag/include/diag/diag.h
  components/diag/src/diag.c
  components/ota_update/include/ota_update/ota_update.h
  components/ota_update/src/ota_update.c
  custom/integration/settings_controller.cpp
  custom/ui/pages/ui_page_settings.c
  custom/ui/pages/ui_page_settings.h
  tests/CMakeLists.txt
  tests/ui/stubs/assets/assets.h
  tests/ui/stubs/assets/launcher_bg_stub.c
  tests/ui/test_settings_status.cpp
Labels: ui, integration

fix(build): register core component
  components/CMakeLists.txt
  components/core/CMakeLists.txt
  custom/integration/settings_controller.cpp
Labels: integration

docs(tasks): mark media control hooks complete
  app/apps/app_launcher/view/view.cpp
  app/apps/app_launcher/view/view.h
  custom/integration/media_controller.cpp
  custom/integration/media_controller.h
  custom/ui/pages/ui_page_media.c
  custom/ui/pages/ui_page_media.h
  docs/TASKS.md
  platforms/desktop/CMakeLists.txt
  tests/CMakeLists.txt
  tests/ui/media_page_test.c
  tests/ui/test_media_page.py
Labels: ui, integration, docs

fix(core): add APP_TRACEI alias
  components/core/include/app_trace.h
Labels: none

fix(integration): clean clip event handler
  custom/integration/cctv_controller.cpp
Labels: integration

fix(app_launcher): include integration headers
  app/apps/app_launcher/view/view.h
Labels: none

fix(app_launcher): add cctv controller using
  app/apps/app_launcher/view/view.cpp
Labels: none

fix(integration): include correct app trace header
  custom/integration/cctv_controller.cpp
  custom/integration/media_controller.cpp
Labels: integration

.github/labeler.yml:

---
ui:
  - custom/ui/**

integration:
  - custom/integration/**

platform:
  - custom/platform/**

assets:
  - custom/assets/**

docs:
  - docs/**

ci:
  - .github/**
