Repository baba-dev/M5Tab5-UserDemo, changes with the labels that .github/labeler.yml gives for each.
All labels: ui, integration, platform, assets, docs, ci

fix(wifi): include cstring for std functions
  platforms/tab5/main/hal/components/hal_wifi.cpp
Labels: none

fix(i2c): use ng touch panel io
  platforms/tab5/components/m5stack_tab5/m5stack_tab5.c
Labels: none

build(devcontainer): switch to espressif/idf image; auto-load IDF env; add clang-format and helper scripts
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .vscode/settings.json
  README.md
  scripts/check_idf_env.sh
  scripts/format.sh
Labels: none

test(i2c): add legacy driver scan
  scripts/check_legacy_i2c.py
  tests/test_check_legacy_i2c.py
Labels: none

chore(release): cut 1.0.1
  CHANGELOG.md
  app/apps/app_startup_anim/app_startup_anim.cpp
Labels: none

chore(devcontainer): load esp-idf in all shells
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  scripts/build.sh
Labels: none

feat(ui): add left nav rail with 5 tabs and empty pages
  README.md
  app/apps/app_launcher/view/view.cpp
  app/apps/app_launcher/view/view.h
  custom/assets/bg/bg_images.c
  custom/assets/bg/bg_images.h
  custom/ui/pages/ui_page_cctv.c
  custom/ui/pages/ui_page_cctv.h
  custom/ui/pages/ui_page_media.c
  custom/ui/pages/ui_page_media.h
  custom/ui/pages/ui_page_rooms.c
  custom/ui/pages/ui_page_rooms.h
  custom/ui/pages/ui_page_weather.c
  custom/ui/pages/ui_page_weather.h
  custom/ui/ui_nav_rail.c
  custom/ui/ui_nav_rail.h
  custom/ui/ui_root.c
  custom/ui/ui_root.h
  custom/ui/ui_wallpaper.c
  custom/ui/ui_wallpaper.h
  docs/wireframes.md
  platforms/desktop/CMakeLists.txt
  platforms/tab5/main/CMakeLists.txt
Labels: ui, assets, docs

feat(assets): load wallpapers from filesystem
  .gitattributes
  .gitignore
  README.md
  custom/assets/asset_mount.c
  custom/assets/asset_mount.h
  custom/assets/bg/bg_images.c
  custom/assets/bg/bg_images.h
  custom/ui/ui_wallpaper.c
  lv_conf.h
Labels: ui, assets

fix(app): include ui_root from component
  app/apps/app_launcher/view/view.cpp
Labels: none

fix(ui): include wallpaper headers
  custom/ui/pages/ui_page_cctv.c
  custom/ui/pages/ui_page_media.c
  custom/ui/pages/ui_page_rooms.c
  custom/ui/pages/ui_page_weather.c
Labels: ui

fix(ui): resolve nav rail build errors
  custom/ui/ui_nav_rail.c
Labels: ui

fix(custom): correct asset include paths
  custom/assets/asset_mount.c
  custom/ui/ui_wallpaper.c
Labels: ui, assets

fix(ui): simplify wallpaper and nav init
  custom/ui/pages/ui_page_cctv.c
  custom/ui/ui_root.c
  custom/ui/ui_wallpaper.c
  custom/ui/ui_wallpaper.h
Labels: ui

fix(assets): adjust asset mount include
  custom/assets/asset_mount.c
Labels: assets

feat(ui): load wallpaper image
  custom/ui/ui_wallpaper.c
  custom/ui/ui_wallpaper.h
Labels: ui

fix(ui): include asset header via component path
  custom/ui/ui_wallpaper.c
Labels: ui

fix(ui): support lvgl9 wallpaper src
  custom/ui/ui_wallpaper.c
Labels: ui

ci(idf): reliable ESP32-P4 builds on GitHub; make idf.py available
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/workflows/idf-build.yml
  README.md
  scripts/idf.py
Labels: ci

ci(workflow): fetch deps before idf build
  .github/workflows/idf-build.yml
Labels: ci

ci(publish): add Web Flash Pages workflow using ESP Web Tools
  .github/workflows/webflash.yml
  README.md
Labels: ci

ops(environments): add staging & production + wire workflows
  .github/scripts/create_envs.sh
  .github/workflows/idf-build.yml
  .github/workflows/webflash.yml
  README.md
Labels: ci

ops(environments): fix gh api payload
  .github/scripts/create_envs.sh
  .github/workflows/idf-build.yml
  .github/workflows/webflash.yml
  README.md
Labels: ci

fix(config): disable legacy i2c driver
  platforms/tab5/sdkconfig
Labels: none

ci(idf): fetch dependencies before build
  .github/workflows/idf-build.yml
Labels: ci

fix(i2c): block legacy driver regressions
  docs/I2C_MIGRATION.md
  platforms/tab5/main/app_main.cpp
  scripts/check_legacy_i2c.py
  tests/test_check_legacy_i2c.py
Labels: docs

fix(wifi): guard ap init against repeated setup
  platforms/tab5/main/hal/components/hal_wifi.cpp
Labels: none

fix(platform): disable sd card features
  app/apps/app_launcher/view/panel_sd_card.cpp
  custom/assets/asset_mount.c
  platforms/tab5/main/hal/hal_esp32.cpp
Labels: assets

fix(i2c): bypass legacy conflict guard
  docs/I2C_MIGRATION.md
  platforms/tab5/main/app_main.cpp
  platforms/tab5/sdkconfig
  platforms/tab5/sdkconfig.defaults
  scripts/check_legacy_i2c.py
  tests/test_check_legacy_i2c.py
Labels: docs

fix(ui): restore wallpaper and swipe nav
  custom/assets/asset_mount.c
  custom/ui/ui_nav_rail.c
  custom/ui/ui_nav_rail.h
  custom/ui/ui_root.c
Labels: ui, assets

fix(ui): widen nav rail swipe zone
  custom/assets/asset_mount.c
  custom/ui/ui_nav_rail.c
  custom/ui/ui_nav_rail.h
  custom/ui/ui_root.c
Labels: ui, assets

fix(ui): improve rail swipe and wallpaper lookup
  custom/assets/asset_mount.c
  custom/ui/ui_nav_rail.c
  custom/ui/ui_nav_rail.h
  custom/ui/ui_root.c
Labels: ui, assets

fix(app): restore screen background after startup anim
  app/apps/app_startup_anim/app_startup_anim.cpp
  app/apps/app_startup_anim/app_startup_anim.h
Labels: none

fix(assets): package and resolve wallpaper files
  custom/assets/asset_mount.c
  platforms/tab5/main/CMakeLists.txt
Labels: assets

fix(tab5): stage custom assets layout
  platforms/tab5/main/CMakeLists.txt
Labels: none

ci: fix idf build cache and artifacts
  .github/workflows/idf-build.yml
Labels: ci

refactor(ui): use gradient wallpaper
  README.md
  custom/assets/bg/.gitkeep
  custom/assets/bg/1.png
  custom/assets/bg/2.png
  custom/ui/ui_wallpaper.c
  custom/ui/ui_wallpaper.h
  docs/wireframes.md
Labels: ui, assets, docs

chore(format): update clang-format defaults
  .clang-format
Labels: none

chore(tools): add lint autofix script
  tools/lint_autofix.sh
Labels: none

chore(tooling): add clang tidy config
  .clang-tidy
Labels: none

chore(root): align editorconfig defaults
  .editorconfig
Labels: none

.github/labeler.yml:

---
ui:
  - custom/ui/**

integration:
  - custom/integration/**

platform:
  - custom/platform/**

assets:
  - custom/assets/**

docs:
  - docs/**

ci:
  - .github/**
